@{
    ViewData["Title"] = "Home Page";
    ViewData["Scripts"] = new string[] {
        "/js/index.js"
    };
}

<div class="container w-75 p-5 bg-white rounded enter-link-controls">
    <h1>Link Not Available :(</h1>
    <p>The link you are trying to visit does not exist.</p>
    <a href="/" class="btn btn-primary">Okaaay... take me to the Main Page</a>
</div>
